.job-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  .form-row {
    display: flex;
    gap: 20px;
    width: 100%;
    
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0;
    }
    
    mat-form-field {
      flex: 1;
      width: 100%;
    }
    
    &.date-container {
      align-items: flex-start;
    }
    
    textarea {
      min-height: 80px;
      resize: vertical;
    }
  }
  
  .wide-field {
    width: 100%;
  }
}
