<div class="list-table">
  <app-table-filter [jobs]="allJobs" (jobFilteredChange)="applyFilter($event)"></app-table-filter>
  <mat-card>
    <mat-card-content>
      <div *ngIf="loading" class="mat-caption">Loading...</div>
      <div *ngIf="!loading">        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Job position</th>
            <td mat-cell *matCellDef="let job">{{ job.name }}</td>
          </ng-container>
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
            <td mat-cell *matCellDef="let job">{{ job.company }}</td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let job">{{ job.type }}</td>
          </ng-container>
          <ng-container matColumnDef="applicationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let job">{{ job.applicationDate }}</td>
          </ng-container>
          <ng-container matColumnDef="decision">
            <th mat-header-cell *matHeaderCellDef>Decision</th>
            <td mat-cell *matCellDef="let job">{{ job.decision }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
          [length]="totalItems"
          [pageIndex]="currentPage"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions" 
          (page)="onPageChange($event)"
          showFirstLastButtons
        ></mat-paginator>
        <div class="mat-caption" *ngIf="paginationInfo">
          Showing {{ (currentPage * pageSize) + 1 }} - {{ Math.min((currentPage + 1) * pageSize, totalItems) }} of {{ totalItems }} results
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
