<mat-tab-group>
  <mat-tab label="Refresh">
    <div style="display: flex; justify-content: center; align-items: center; margin: 1em 0;">
      <button mat-stroked-button color="primary" (click)="handleRefresh()">Refresh</button>
    </div>
  </mat-tab>
  <mat-tab label="Color code">
    <div style="margin: 1em 0;">
      <div class="p-2 bg-negative">Red: you received a "negative" answer to your application</div>
      <div class="p-2 bg-positive">Green: you received a "positive" answer to your application</div>
      <div class="p-2 bg-in-progress">Blue: your application is "in progress" (you got an interview)</div>
      <div class="p-2 bg-expired">Grey: the job offer is no longer available but you did not receive any answer</div>
      <div class="p-2">White: the status of the job application is unknown at the moment</div>
    </div>
  </mat-tab>
  <mat-tab label="Export">
    <app-export-data></app-export-data>
  </mat-tab>
</mat-tab-group>

<app-list-table></app-list-table>
