<ng-container>
  <tr>
    <th *ngFor="let col of columns" (click)="col.sortable ? handleSortingChange(col.accessor) : null">
      {{ col.label }}
      <span *ngIf="col.sortable">
        <mat-icon *ngIf="sortField === col.accessor && order === 'asc'">arrow_upward</mat-icon>
        <mat-icon *ngIf="sortField === col.accessor && order === 'desc'">arrow_downward</mat-icon>
        <mat-icon *ngIf="sortField !== col.accessor">unfold_more</mat-icon>
      </span>
    </th>
  </tr>
</ng-container>
