<div class="in-progress-jobs">
  <h3>Job applications in progress ({{ inProgressCount }})</h3>
  <table *ngIf="inProgressCount > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of inProgressJobs" (click)="goToJob(job)" style="cursor:pointer">
        <td>{{ job.name }}</td>
        <td>{{ job.company }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="inProgressCount === 0">
    <em>No jobs in progress.</em>
  </div>
</div>
