<div class="export-data mat-elevation-z1">  <mat-form-field appearance="outline">
  <mat-label>Year</mat-label>
  <mat-select [(value)]="selectedYear">
    <mat-option value="">Select a year</mat-option>
    @for (year of years; track year) {
      <mat-option [value]="year === 'All Years' ? '0000' : year">{{ year }}</mat-option>
    }
  </mat-select>
</mat-form-field>  <mat-form-field appearance="outline">
<mat-label>Format</mat-label>
<mat-select [(value)]="selectedFormat">
  @if (selectedFormat) {
    <mat-select-trigger>
      <div class="option-with-icon">
        <mat-icon>{{selectedFormatOption?.icon}}</mat-icon>
        <span>{{selectedFormatOption?.label}}</span>
      </div>
    </mat-select-trigger>
  }
  <mat-option value="">Select a format</mat-option>
  @for (option of formatOptions; track option) {
    <mat-option [value]="option.value">
      <div class="option-with-icon">
        <mat-icon>{{option.icon}}</mat-icon>
        <span>{{option.label}}</span>
      </div>
    </mat-option>
  }
</mat-select>
</mat-form-field>

<button mat-raised-button color="primary" (click)="handleExportClick()"
  [disabled]="!selectedFormat || !selectedYear">
  <mat-icon>download</mat-icon>
  Export
</button>
</div>
